.profileUpdatePage {
  height: 90vh;
  display: flex;
  background-color: #f8f9fa;
  padding: 50px;

  .formContainer {
    flex:3;
    display: flex;
    align-items: center;
    justify-content: center;
    


    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
   

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        label {
        }

        input {
          padding: 20px;
          border-radius: 5px;
          border: 1px solid gray;
        }
      }
      button {
        padding: 20px;
        border-radius: 5px;
        border: none;
        background-color: teal;
        color: white;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .sideContainer {
    flex: 2;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    .avatar{
      width: 50%;
      object-fit: cover;
    }
  }
}
